*{
    padding: 0;
    margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
header{
    width: 1515px;
    height: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Montserrat;
    & .nav_main{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 17%;
        & .nav_main_responsive{
            display: none;
        }
        box-shadow: 0px 14px 64px -4px rgba(24, 39, 75, 0.12), 0px 8px 22px -6px rgba(24, 39, 75, 0.12);
        & .nav_main_top{
            display: flex;
            height: 30%;
            align-items: center;
            background: #0D0D0D;
            & .nav_main_top_item{
                list-style: none;
                display: flex;
                gap: 5px;
                color: rgba(255, 255, 255, 0.30);
                text-align: center;
                font-size: 14px;
                font-weight: 700;
                letter-spacing: 1.5px;
                text-transform: uppercase;
                padding-left: 100px;
                & li:hover{
                    color: white;
                    cursor: pointer;
                }
            }
        }
        & .nav_main_bottom{
            display: flex;
            height: 60%;
            align-items: center;
            justify-content: space-around;
            & h1{
                color: #0D0D0D;
                font-family: Montserrat;
                font-size: 33px;
                font-weight: 700;
                letter-spacing: 0.4px;
            }
            & .nav_main_bottom_menu{
                display: flex;
                list-style: none;
                gap: 35px;
                & li{
                    padding: 5px;
                    position: relative;
                    overflow: hidden;
                    &::before{
                        content: '';
                        width: 160px;
                        height: 2px;
                        background: #FFC000;
                        position: absolute;
                        top: 26px;
                        left: 0px;
                        transform: translate(-170px ,0px);
                        transition: ease-in-out .5s;
                    }
                    &:hover::before{
                        transform: translate(0,0);
                    }
                }
                & li a{
                    font-size: 16px;
                    font-weight: 500;
                    color: #000;
                    text-decoration: none;
                    padding: 5px;
                    transition: ease-in-out .5s;
                    
                }
            }
            & .nav_bottom_btn{
                display: flex;
                gap: 25px;
                & button{
                    border-radius: 4px;
                    background: rgba(0, 0, 0, 0.05);
                    padding: 8px 16px;
                    border: none;
                    color: #0D0D0D;
                    font-size: 18px;
                    font-weight: 400;
                    letter-spacing: 1px;
                    transition: ease-in-out 350ms;
                    
                }
            }
        }
    }
    .header__hero{
        margin-top: 172px;
        display:  grid;
        grid-template-columns: auto auto;
        width: 1122px;
        height: 456px;
        .header__hero-text{
            width: 528px;
            height: 456px;
            .header__hero-text-h1{
                color: #000;
                font-family: Montserrat;
                font-size: 46px;
                font-style: normal;
                font-weight: 900;
                line-height: 64px;
                padding-bottom: 72px;
            }
            .header__hero-11{
                display: none;
                margin-top: -70px;
                width: 138px;
                height: 62px;
                .header__hero-11-1{
                    color: #000;
                    font-family: Inter;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 34px;
                 }
                 .header__hero-11-2{
                    color: #000;
                    font-family: Inter;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px; 
                 }
            }
            .header__hero-text-1{
                color: #000;
                font-family: Inter;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: 34px;
            }
            .header__hero-text-2{
                color: #000;
                font-family: Inter;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 32px;
            }
            .header__hero-text-3{
                padding-top: 44px;
                color: #000;
                font-family: Inter;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: 34px;
            }
            .header__hero-text-4{
                color: #000;
                font-family: Inter;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 32px;
            }
        }
        .header__hero-inp{
            width: 555px;
            height: 456px;
            .header__hero-inp-1{
                padding: 14px 226px  14px 24px;
                width: 305px;
                height: 32px;
                border-radius: 5px;
                border: 1px solid rgba(219, 222, 231, 1);

                color: #000;
                font-family: Inter;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 32px;
            }
            .header__hero-inp-2{
                margin-top: 16px;
                padding: 14px 226px  14px 24px;
                width: 305px;
                height: 32px;
                border-radius: 5px;
                border: 1px solid rgba(219, 222, 231, 1);

                color: #000;
                font-family: Inter;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 32px;
            }
            .header__hero-inp-opisania{
                padding: 12px 24px 20px 24px;
                margin-top: 16px;
                width: 507px;
                height: 132px;

                color: #000;
                font-family: Inter;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 32px;
            }
            .header__hero-inp-button{
                margin-top: 10px;
                    width: 262px;
                    height: 60px;
                    border-radius: 6px;
                    background: var(--yellow, #FFC000);
                    border: 1px solid #FFC000;

                    color: var(--black, #0D0D0D);
                    text-align: center;
                    font-family: Inter;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 34px;
            }
        }
    }   
}

@media screen and (max-width: 376px) {
    header{
        width: 375px;
        height: 1000px;
        display: flex;
        align-items: center;
        margin: 0 auto;
        & .nav_main{
            width: 100%;
            height: 70px;
            display: flex;
            align-items: center;
            & .nav_main_top{
                display: none;
            }
            & .nav_main_bottom{
                display: none;
            }
            & .nav_main_responsive{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 90%;
                height: 100%;
                align-items: center;
                & .responsive_item{
                    display: flex;
                    align-items: center;
                    gap: 15px;
                }
            }
        }
        .header__hero{
            grid-template-columns: auto;
            width: 316px;
            height: 938px;
            .header__hero-text{
                width: 316px;
                .header__hero-text-h1{
                    color: #000;
                    font-family: Montserrat;
                    font-size: 34px;
                    font-style: normal;
                    font-weight: 900;
                    line-height: 130%;
                }
                .header__hero-11{
                    display: block;
                    .header__hero-11-1{
                        margin-top: 20px;
                    }
                }
                .header__hero-text-1{
                    margin-top: 40px;
                }
                .header__hero-text-3{
                    margin-top: -215px;
                    margin-left: 170px;
                }
                .header__hero-text-4{
                    margin-left: 170px;
                }
            }
            .header__hero-inp{
                width: 316px;
                height: 547px;
                .header__hero-inp-1{
                    margin-left: 0px;
                    padding: 14px 13px 14px  24px;
                    width: 316px;
                    height: 60px;
                }
                .header__hero-inp-2{
                    padding: 14px 13px 14px  24px;
                    width: 316px;
                    height: 60px;
                }
                .header__hero-inp-opisania{
                    width: 316px;
                    height: 195px;
                }
                .header__hero-inp-button{
                    width: 300px;
                    height: 60px;
                }
            }
        }
    }
}



.footer{
    width: 100%;
    height: 325px;
    display: flex;
    align-items: center;
    justify-content: center;
    & .ft_main_responsive{
        display: none;
    }
    & .ft_main{
        width: 90%;
        height: 85%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 55px;
        & .ft_logo{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 45px;
            & b{
                text-transform: uppercase;
            }
            & p{
                width: 265px;
                font-weight: 400;
                line-height: 160%;
            }
        }
        & ul{
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            text-transform: uppercase;
            gap: 35px;
        }
    }
}
// @media screen and (max-width: 376px) {
//     & .footer{
//                 width: 100%;
//                 height: 500px;
//                 & .ft_main{
//                     display: none;
//                 }
//                 & .ft_main_responsive{
//                     width: 95%;
//                     height: 100%;
//                     display: flex;
//                     flex-direction: column;
//                     align-items: center;
//                     justify-content: space-around;
//                     & p{
//                         width: 303px;
//                         font-size: 16px;
//                         font-weight: 400;
//                         line-height: 30px;
//                     }
//                     & ul{
//                         width: 85%;
//                         height: 155px;
//                         list-style: none;
//                         font-weight: 900;
//                         font-size: 20px;
//                         display: flex;
//                         flex-direction: column;
//                         flex-wrap: wrap;
//                         gap: 15px;
//                     }
//                     & .ft_main_responsive_bottom{
//                         display: flex;
//                         flex-direction: column;
//                         gap: 25px;
//                         & p{
//                             padding-left: 200px;
//                             position: relative;
//                             &:nth-child(1):before{
//                                 content: '';
//                                 background: url(../../img/Icon_location.png);
//                                 background-size: contain;
//                                 position: absolute;
//                                 width: 30px;
//                                 height: 30px;
//                                 top: 15px;
//                                 left: 155px;
//                             }
//                             &:nth-child(2):before{
//                                 content: '';
//                                 background: url(../../img/Icon_mail.png);
//                                 background-size: contain;
//                                 position: absolute;
//                                 width: 30px;
//                                 height: 30px;
//                                 left: 155px;
//                             }
//                         }
//                     }
//                 }
//             }
// }
    
